<div class="container">
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Product Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter product name">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Category</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter category">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Price</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Price">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Quantity</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter quantity">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Active</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter active status">
        </div> `

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
